@import './_mixins.scss';
@import './_cern.style.scss';
@import './_plugins.scss';

/** your custom css code **/
/*
html {
    background-color: $theme-color-1 !important;
}
*/

.dashboard-list-with-user {
  height: 800px;
}

.list-thumbnail.small-thumbnail {
  width: 100px !important;
}

/* 01.Designer */
.designer-menu {
  width: auto;
  position: fixed;
  bottom: auto;
  z-index: 20;
}

.designer-dropdown-menu {
  padding: 1rem;
}
.designer-popover {
  .bs-popover-right,
  .bs-popover-auto[x-placement^='right'] {
    margin-left: 3rem;
  }
}

.icon-text {
  cursor: pointer;

  i {
    font-size: 2rem;
  }

  &:hover,
  &:focus {
    color: $theme-color-1;
  }
}

.opacity-0 {
  opacity: 0 !important;
}
.opacity-100 {
  opacity: 1 !important;
}
.transition-opacity-10 {
  transition: opacity 0.1s ease-in-out;
}

.editable > a {
  padding: 10px;
  z-index: 10;
  &:hover,
  &:focus {
    // border: 2px solid #5762e1 !important;
    outline: 2px solid #5762e1 !important;
    cursor: pointer;
  }
}

pre {
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  background-color: #eee;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding: 5px;
  overflow: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
}
figcaption {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-style: italic;
  }
